@import "../tools/variables.scss";

.progress-bar {
  position: fixed;
  top: 0;
  height: 6px;
  left: 0;
  width: 0%;
  background: $red-dark;

  &-wrapper {
    padding: 20px;
    margin-bottom: 50px;
  }

  &-page {
    overflow: scroll;
    max-height: 100vh;
  }

  &-page ~ .page-logo {
    display: none;
  }
}
